#ignore files
aboutCompanyProfile.jpg
ANAK PANAH VIEW.jpg
ANAK PANAH.jpg
ANAKPANAHFOOD W COFFEE.jpg
animal fries.jpeg
apk contact us.jpg
APK foodview.jpg
APK foodview2.jpg
APK foodview3.jpg
APK foodview4.jpg
APK foodview5.jpg
apk kopi2.jpg
APK RICEBOWL unused.jpg
APK VIEW.jpeg
assignment.html
backgroound menu.jpg
backgroundarrow.png
bananasmoothies.jpg
bananasmoothies2.jpg
beefbalado.jpg
cafe copy.html
cafe.html
caramelaffo.jpg
charcoal.jpg
charcoal2.jpg
chickenlemongrass.jpg
chococampfire.jpg
chocoorange.jpg
chocopresso.jpg
chopsuey!.jpg
coffeelatte.jpg
coldbrewapel.jpg
day1index.html
day1index2.html
day2 tailwind.html
day2.html
day3.html
eggcheesetoast.jpg
french fries.jpg
git.html
handson.html
instant noodles.jpeg
kopiklepon.jpg
locomoco.jpg
logo anak panah kopi + 2.jpg
logo anak panah kopi +.png
marigold.jpeg
mixplatter.jpg
mushroomsoup.jpg
nachoncheese.jpg
onion ring.jpg
profileemployee1.jpg
profileemployee2.jpg
scarlet.jpeg
smoothiesbowl.jpg
strawberryshortcake.jpg
test background.html